body{
  text-align: center;
}
li{
  list-style-type:none;
font-size: 20px;
padding-bottom: 10px;
}
span{

}
.Logout a{
  position: absolute;
  left: 10%;
  color: black;
}
.Logout a:hover{
  color:white;
}
input{
  width:15%;
  border-radius: 20px;
  height: auto;
}
